{% extends "base_generic.html" %}

{% block content %}
    <div class="panel panel-default">
    <div class="panel-heading">Room.io Question</div>
    <div class="panel-body">
<h2>Question: <b>{{ form.question }}</b></h2>

<form action="/create/answers/" method="post">
    {% csrf_token %}
    <fieldset name="question_option_1">
  <input type="radio" name="question_option_1" id="question_option_1" value="{{ form.question.question_option_1 }}"> {{ form.question.question_option_1 }}<br>
  <input type="radio" name="question_option_1" id="question_option_1" value="{{ form.question.question_option_2 }}"> {{ form.question.question_option_2 }}<br>
</fieldset>
    <h2>Ideal Answer:</h2>
    <fieldset name="question_ideal">
 <input type="radio" name="question_ideal" value="{{ form.question.question_option_1 }}"> {{ form.question.question_option_1 }}<br>
  <input type="radio" name="question_ideal" value="{{ form.question.question_option_2 }}"> {{ form.question.question_option_2 }}<br>
    </fieldset>
        <div class="divider"></div>
    <label for="question_weight">How important is this question to you?</label>
    <select class="form-control" id="id_answer_weight">
        <option value="1">Not Important At all</option>
        <option value="75">Somewhat Important</option>
        <option value="150">Very Importants</option>
        <option value="250">Mandatory</option>
    </select>
    <input class="btn" type="submit" value="Submit" />
    <input type="hidden" id="question_id" value="{{ form.question.question_id }}">
    </div>
</div>
</form>
    </div>
{% endblock %}