{% extends "base_generic.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<style>
#user_id {
    visibility: hidden
}
</style>
       <div class="panel panel-default">
    <div class="panel-heading">Answers a Room.io Question!</div>
    <div class="panel-body">
<form action="" method="post">
    {% csrf_token %}
    <table>
    {% bootstrap_form form %}
    </table>
    <input class="btn btn-primary" type="submit" value="Submit" />

</form>
    </div>
       </div>
{% endblock %}