<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Room.io</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Room.io</a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
              <li class="btn btn-lg dropdown navbar-form navbar-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'questions' %}">All Questions</a></li>
                  <li><a href="{% url 'myanswers' %}">My Answers</a></li>
                  <li><a href="{% url 'answer_view' %}">Answer Questions</a></li>
                  <li><a href="{% url 'question_view' %}">Submit Questions</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Account</li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                </ul>
              </li>
          {% else %}
          <form method="post" action="{% url 'login'%}?next={{request.path}}" class="navbar-form navbar-right">
              {% csrf_token %}
              <div class="form-group">
              <input type="text" placeholder="Username" name="username" id="id_username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" id="id_password" class="form-control">
            </div>
            <button type="submit" value="login" class="btn btn-success">Sign in</button>
              <input type="hidden" name="next" value="" />
          </form>

            {% endif %}
      </div>
      </div>
    </nav>
    {% if user.is_authenticated %}

      <div class="container">
       <div class="panel panel-default">
       <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'questions' %}">All Questions</a></li>
              <p/>
             {% if user.is_authenticated %}
             <li>User: {{ user.get_username }}</li>
             <li><a href="{% url 'myanswers' %}">My Answers</a></li>
             <li><a href="{% url 'answer_view' %}">Answer Questions</a></li>
                 <li><a href="{% url 'question_view' %}">Submit Questions</a></li>
             <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
               {% else %}
                 <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
               {% endif %}
          </ul>
         {% endblock %}
          </div>
          <div class="col-sm-10 ">
          {% block content %}{% endblock %}
          </div>
        </div>
       </div>
</div>
      </div>
{% else %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Room.io by Scott Hoadley</p>
      </footer>
    </div> <!-- /container -->
{% endif %}

</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</html>