{% extends "base_generic.html" %}

{% block content %}
    <h1>Ranking List</h1>

    {% if truematch_list %}

<ul class="list-group">
      {% for truematch in truematch_list %}

{#        <a href="../question/{{question.id }}">{{ question.question_text }}</a> ({{question.vetted}})#}
        <li class="list-group-item"><a href="../profile/view_profile/{{truematch.user_onet.id }}">{{ truematch.user_onet }}
        </a>
          With:  <a href="../profile/view_profile/{{truematch.user_twot.id }}">{{ truematch.user_twot }}
            </a> Ranking: {{ truematch.match_percent }} <a href="{% url 'postman:write' truematch.user_twot.username %}">Write Message</a></li>

      {% endfor %}
</ul>
    {% else %}
      <p>There are no questions in the database.</p>
    {% endif %}       
{% endblock %}  